@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #19191b;
}

.avatar-loader {
  fill:none;
  stroke:#d47559;
  stroke-linecap: round;
  stroke-width: 2;
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  animation: stroke-draw 4s ease-out infinite alternate;
  position: absolute;
  top: 0;
}

@keyframes stroke-draw {
  from{
    stroke:#d47559;
    stroke-dasharray: 1;
  }
  to{
    stroke:#ffcdbe;
    transform:rotate(180deg);
    stroke-dasharray: 5;
  }
}

.fadeIn {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from{
    opacity: 0;
    transform: scale(0.95)
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}
